header {
background : url("images/sample.jpg");//by wikipedia commons
background-size : 1000px 200px;
}

nav {
background : url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Snowy_Åreskutan_Ski_lift.jpg/2560px-Snowy_Åreskutan_Ski_lift.jpg");

}
